<!-- <div class="user-detail-container">
    <div>
        <img class="user-detail-avatar-image" src="./assets/images/male-avatar.png">
    </div>
    <div class="user-detail-info">
        <h2>User Detail</h2>
        <p><b>Name:</b> John Smith</p>
        <p><b>Gender:</b> Male</p>
        <p><b>Subscription Type:</b> Yearly</p>
        <p><b>Status:</b> Active</p>
    </div>    
</div> -->

<div class="admin-user-list">
    <div class="admin-user-detail" *ngFor="let user of userList">
        <div class="admin-user-name">{{user.name}}</div>
            <div class="adin-user-gender">{{user.gender}}</div>
            <div class="admin-user-subtype">{{user.subType}}</div>
            <div class="admin-user-active">{{user.status}}</div>
            <button class="admin-user-show-detail-button" (click)="onClickUserList(user)">+</button>
    </div>
</div>